.env

.venv/
venv/
__pycache__/
*.pyc
*.log

*.xlsx
*.pdf
*.json

downloads/

facturas_pendientes/
facturas_procesadas/
facturas_error/
facturas_cambio/

.vscode/

*.xlsx
!data/Mapeo_Sucursales_Completo.xlsx